//inline text

.inline_text
  position :relative;
  height auto!important;
  > div
  > div span
      position relative
      display inline
  > div span
      height auto!important
      width auto!important
